.App {
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: lightgray;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-content {
  margin-left: 20px;
}

.navbar-header {
  background-color: rgb(80,80,80);
}
