.Food-container {
  margin: auto;
  display: flex;
  width: 80%;
  height: 60%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Food-Card {
  height: 50%;
  width: 200px;
  flex-shrink: 1;
  margin: 5px;
}

.Food-recipes-list {
  width: 80%;
}