.foodList-container {
  margin: auto;
  display: flex;
  width: 80%;
  height: 60%;
  flex-direction: row !important;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foodImage-medium {
  max-width: 300px;
  height: auto;
}

.foodDetails-container {
  margin: auto;
  width: 80%;
  text-align: left;
}

.Food-Card {
  height: 50%;
  width: 200px;
  flex-shrink: 1;
  margin: 5px;
}

.Food-recipes-list {
  width: 80%;
}