.Recipe-container {
  margin: auto;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Recipe-Card {
  height: 50%;
  width: 300px;
  flex-shrink: 1;
  margin: 5px;
}